.confirmModal {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: fixed;
    /*background-color: rgba(0, 0, 0, .75);*/
    bottom: 0;
    left: 25%;
    z-index: 1000;
}

.modal-content {
    margin: auto;
    width: 50%;
}