.main-vid-container {
    height: 100vh;
    position: relative;
    top: 5vh;
}
.video-items {
    list-style-type: none;
}
.results-container li,
.results-container button {
    display: inline-block;
}
.result-item {
    margin-bottom: 1vh;
    margin-top: 1vh;
}