.mobilePanel-container {
    background-color: white;
}

.mobileNav {
    width: 90%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0.6% 0;
    position: absolute;
    bottom: -0.05%;
    left: 0;
}

.mobileLink{
    font-weight: bold;
    cursor: pointer;
}

.navLink{
    margin-left: 10%;
}

.mobileLink > div > i {
    margin-left: 10%;
}

.activeMobile {
    color: #0288d1;
}

@media screen and (max-width: 767px) and (orientation:landscape){
    .mobileNav{
        height: initial;
    }
}


/*------------ MOBILE TOUR ------------*/

.reactour__helper.reactour__helper--is-open.sc-ifAKCX.cfrXTn {
   margin-left: -20% !important;
}

.loader-container{
    display: flex;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 4000;
}

.preloader-wrapper.active{
    position: absolute;
    top: 40%;
    left: 40%;
}

@media (max-width: 767px){
    .loader-container{
        width: 100vw;
    }
    .preloader-wrapper.active{
        left: 50%;
    }

}