body {
    box-sizing: border-box;
}
.top-background-layer {
    background-color: #000;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.main-login-container {
    position: relative;
}
.landing-page-container {
    text-align: center;
    height: 100vh;
    background-color: #222C3A;
}
.landing-page-container h1,
.landing-page-container h2 {
    margin: 0;
    color: #fff;
}
.landing-page-container h1 {
    line-height: 60px;
    letter-spacing: 0.3vmin;
}
.landing-page-container h2 {
    font-weight: 100;
}
.login-container {
    width: 80%;
    height: 56vh;
    margin: 0 auto;
    position: relative;
    top: 7vh;
    box-shadow: 0 4px 2px -2px darkorange;
    border-radius: 5px;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.38);
    z-index: 0;
}
.title-container h1 {
    line-height: 8vh;
}
.google-div,
.info {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    color: #fff;
}
.google-div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.info {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.info h3 {
    position: relative;
    top: 5vh;
    font-size: 4vmin;
}
.google-div {
    color: #fff;
}
.login-info {
    position: relative;
    top: 30%;
}
.login-info h3 {
    font-size: 3vmin
}
.login-info img {
    display: block;
    margin: 0 auto;
}
.item-list {
    position: relative;
    top: 17%;
    text-align: left;
    line-height: 5.5vh;
    width: 70%;
    margin: 0 auto;
    font-size: 3vmin;
}
.item-list .glyphicon {
    color: #31C3E7;
    font-size: 2.8vmin;
    display: inline-block;
    margin-right: 10px;
}
.item-list li:nth-child(3) {
    font-size: 2.5vmin;
}
.item-text {
    display: inline-block;
}
.flex {
    color: #31C3E7;
}
.user-circle {
    border: 3px solid #fff;
    border-radius: 50%;
}
.title-container {
    position: relative;
    top: 3vh;
}
.title-container {
    line-height: 9vh;
}