.logoArea {
    position: absolute;
    top: 1%;
    left: 0.7%;
    width: 14vw;
}

.logoImage {
    height: 100px;
    float: left;
}

.logoBtns {
    float: right;
}

.startTour, .logoutBtn {
    height: 50px;
    width: 50px;
    background-color: #d5d5d5;
    color: #6d7993;
}

.startTour:hover, .logoutBtn:hover {
    background-color: #96858f;
    color: #ffffff;
    border: none;
}

.startTour {
    margin-bottom: 5px;
    background-color: #d5d5d5;
}

.logoutBtn {
    font-size: 15px;
    padding-left: 12px;
    padding-top: 8px;
}
