a {
    color: white;
}

.modal-content.modal-nav{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 35%;
    z-index: 5000;
}

.confirm-modal.modal-nav{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 4000;
}

.nav_binder, .nav_tab, .nav_page {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar.s2{
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100vh;
    box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.15);
    background-color: #eceff1;
}

.lfzLogo{
    width: 2.5%;
    position: absolute;
    left: 13%;
    filter: drop-shadow(1px 1px 1px #333333);
}

.lfzLogo:hover{
    filter: brightness(150%) drop-shadow(1px 1px 1px #333333);
}

.lfzLogo:active{
    filter: brightness(150%) drop-shadow(1px 1px 1px #333333);
    transform: translateY(2px);
}

ul > li {
    list-style: none;

}

.binder_wrap{
    border: 1px solid #747474;
    border-radius: 3px;
    background-color: white;
    width: 75%;
    height: 80px;
    margin-left: 10%;
    margin-bottom: 2%;
    overflow-y: scroll;
    box-sizing: content-box;
    box-shadow: -5px .5px .5px #333333;
}

.visible, .edit-btn.visible, .delete-btn.visible, .navbarShow.visible{
    display: inline;
}

.hidden, .edit-btn.hidden, .delete-btn.hidden, .navbarShow.hidden{
    display: none;
}

.binderTitle{
    cursor: pointer;
    position: relative;
    padding-bottom: 2%;
}

.binder-edit-btn{
    position: absolute;
    right: 14%;
    top: 4%;
}

.binder-delete-btn{
    position: absolute;
    top: 4%;
    right: 2%;
}

.tab-edit-btn{
    position: absolute;
    right: 16%;
    top: 3%;
}

.tab-delete-btn{
    position: absolute;
    top: 3%;
    right: 2%;
}

.page-edit-btn{
    position: absolute;
    right: 18%;
    bottom: 2%;
}

.page-delete-btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.binderWrap{
     width: 100%;
     margin-top: 0;
     margin-bottom: 2%;
     box-shadow: 1px 1px 1px #747474;
}

.binderBorderTop{
    border-top: 5px ridge #90a4ae;
}

.tabWrap{
    width: 90%;
    margin-left: 10%;
    box-shadow: 1px 1px 1px #747474;
    
}

.tabTitle{
    border-top: outset 3px #546e7a;
    cursor: pointer;   
    position: relative;
    padding-bottom: 2%;
}

.pageBody{
    border: 1px inset #696969;
    padding: 3% 0%; 
    margin-left: 10%;
    width: 90%;
    cursor: pointer;
    box-shadow: -1px 1px 1px #747474;
}

.pageLink, .page-btn, .delete-btn, .edit-btn {
    display: inline-block;
}
.btn.binder-edit-btn{
    padding-left: 8px;
    padding-right: 2px;
}

.btn.delete-btn, .btn.tab-edit-btn, .btn.page-edit-btn{
    padding-right: 0px;
    padding-left: 6px;
}

.add-btn-page.btn  {
    margin-bottom: 8%;
    padding: 0;
    width: 100%;
    font-weight: 500;
    background-color: #546e7a; 
}

.add-btn-page.btn:hover, .add-btn-page.btn:focus  {
    background-color: #fafafa;
    color: black;
}

.add-btn-tab.btn  {
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: #455a64;
    padding: 0;
    width: 100%;
    font-weight: 500;
}

.add-btn-tab.btn:hover, .add-btn-tab.btn:focus  {
    background-color: #b0bec5;
    color: black;
    
}

.add-btn-binder.btn  {
    margin-top: 3%;
    padding: 0;
    width: 100%;
    font-weight: 500;
    background-color: #455a64;
    box-shadow: 1px 1px 1px #747474;
    margin-bottom: 5%;
}

.add-btn-binder.btn:hover, .add-btn-binder.btn:hover{
    background-color: #cfd8dc;
    color: black;
    border-bottom: solid 1px #78909c;
}

.visibleHover{
    visibility: visible;
    opacity: 0.3;
}


.hiddenHover{
    opacity: 0.3;
    visibility: hidden;
}

.fullOpacity{
    opacity: 1;
}

.pageLink{
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    overflow-wrap: break-word;
}

.tabLink{
    padding-left: 3%;
    font-size: 1.5rem;
    color: black;
    overflow-wrap: break-word;
}
.binderLink{
    padding-left: 3%;
    font-size: 1.75rem;
    color: #fafafa;
    overflow-wrap: break-word;
}

.pageList{
    position: relative;
}

.pageList.whiteFont>a {
    color: white;
}

.pageList.blackFont>a {
    color: black;
}

.delete-btn {
    background-color: red;
}
.hideNavbar.btn{
    color: #fafafa;
    background-color: #0288d1;
    margin-bottom: 5%;
    padding-left: 10px;
    padding-right: 6px;

}
.navbarShow.btn {
    height: 51%;
    width: 0.75%;
    padding: 0;
    top: 50%;
    padding-left: 10px;
    padding-right: 6px;
  transform: translateY(-50%);
  background-color: #0288d1;
}
.navbarShow.btn i {
    position: relative;
    left: -13px;
}
.navbarShow.btn{
    position: absolute;
    z-index: 100;
}

.textLight{
    color: white;
}

.card-action.modal-nav{
    display: flex;
    justify-content: space-between;
}

.card-action.modal-nav > button.grey{
    color: black;
}

.borderDark{
    border-top: ridge 5px #78909c;
}

.textDark{
    color: black;
    
}
.editMode.btn{
    margin-left: 5%;
}

.editMode.btn:focus{
    background-color: #d5d5d5;
}

.editMode.btn:hover{
    background-color: #2bbbad;
}

.editMode.btn.editing{
    background-color: #2bbbad;
    color: white;
}

.btn.done-editing{
    padding-left: 5px;
    padding-right: 3px;
}
.navbarShow.btn:hover{
    background-color: #01579b;
}

.hideNavbar.btn:hover {
    background-color: #01579b;
}

.edit-mode-btn {
    margin: 1%;
}

input#edit_input_binder{
    font-size: 1.75rem;
    color: #fafafa;
    margin-left: 2%;
    
}

input#edit_input_page::selection{
    background-color: #fafafa;
    color: black;
    font-weight: 500;
}

input#edit_input_tab{
    padding-left: 3%;
    font-size: 1.5rem;
    color: black;
}

input#edit_input_page{
    padding-left: 5%;
    font-size: 1rem;
    color: #fafafa;
}

.binder-container {
    margin-top: 0;
    height: 80vh;
    overflow: auto;
}


/* --------------------- HEADER AND FOOTER ---------------------*/

header {
    margin: 2% 0 2% 0;
    width: 15.6vw;
}

header > h1 {
    margin-left: 2px;
    font-size: 2vw;
    display: inline;
    font-weight: 800;
    letter-spacing: 3.5px;
}

.dashFlex {
    color: #0288d1;
    font-style: italic;
}

.logoImage {
    width: 1.8vw;
    margin-right: 1%;
}

footer {
    width: 100%;
    z-index: 2;
    position: relative;
    bottom: 1.5vh;
    background-color: #eceff1;
}

.startTour.btn, .logoutBtn.btn {
    width: 40%;
    height: 35px;
    font-size: 90%;
    background-color: #0288d1;;
    color: #fafafa;
    padding: 0 4%;
    margin: 3% 4% 0 4%;
    font-weight: 500;
}

.startTour.btn:hover, .logoutBtn.btn:hover {
    background-color: #01579b;
}


@media (max-width: 767px){
    .hideNavbar.btn, .navbarShow.btn {
        display: none;
    }
    .binder-container {
        height: 70vh;
    }
    .navbar.s2, header{
        width: 100%;
    }
    .visibleHover, .hiddenHover{
        visibility: visible;
        opacity: .8;
    }
    header > h1 {
        font-size: 3em;
    }
    .logoImage {
        width: 10%;
        margin-left: 2%;
    }
    header{
        height: 8vh;
    }
    footer{
        /* padding-bottom: 2%; */
        height: 8vh;
    }
    .startTour.btn, .logoutBtn.btn {
        font-size: 1em;
        margin: 2% 4%;
    }

    .lfzLogo{
        width: 10%;
        left: 85%;
        top: 1.5%;
    }
    .modal-content.modal-nav{
        position: absolute;
        width: 90%;
        left: 5%;
    }
    .pageLink{
        padding-bottom: 15%;
    }

    .page-edit-btn, .page-delete-btn{
        bottom: 0%;
    }

}

@media (max-width: 480px) {
    /* footer {
        height: 70px;
    } */
    .startTour.btn, .logoutBtn.btn {
        margin: 3% 4% 0 4%;
        
    }
}

/*--------------- reactour ---------------*/

.dIYoXw {
    background-color: white;
    height: 0;
}

.bIMCVx:focus {
    background-color: white;
}

.mobile-icon {

}