a {
    color: white;
}

.nav_binder, .nav_tab, .nav_page {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100vh;
    box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.15);
    /* #border: solid 2px black; */
    overflow-y:scroll;
    #border: solid 2px black;

    background-color: #6d7993;
}


ul > li {
    list-style: none;

}

.binder_wrap{
    border: 1px solid #747474;
    border-radius: 3px;
    background-color: white;
    /* #background-image: url("../../assets/images/concrete-wall-3.png");    */
    width: 75%;
    height: 80px;
    margin-left: 10%;
    margin-bottom: 2%;
    overflow-y: scroll;
}

.visible{
    display: inline;
}

.hidden{
    display: none;
}

.binderTitle{
    border: solid 1px red;
    background-color: red;
}

.binderBody{
    #border: solid 1px teal;
}

.binderWrap{
    background-color: white;
}

.tabWrap{
    background-color: yellow;
    width: 95%;
}

.tabTitle{
    border: solid 1px orange;
    
}

.tabBody{
    #border: solid 1px magenta;
}

.pageBody{
    border: 1px solid green;
    background-color: lightblue;
    width: 95%;
    display: inline-block;
}

.pageLink, .page-btn, .btn-div{
    display: inline-block;
}

