.notes-parent-panel {
    height: 100%;
    box-sizing: border-box;
    background-color: ghostwhite;

}

.text-editor {
    height: 100%;
    overflow: hidden;
    margin-bottom: -500em;
}

.editor {
    padding-top: 2vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    height: 100%;
}

code {
    display: inline-block;
    background-color: #d5d5d5;
    color: #0288d1;
    padding: 0 0.5em;
    font-family: 'Overpass Mono' !important;
}

blockquote {
    border-left: 5px solid #0288d1 !important;
    color: #0288d1;
    font-style: italic;
    margin: 0 !important;
}

.notes-component.fifth-step{
    height: 88%;
    overflow-y: auto;
}

.toolbar {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #455a64;
    box-shadow: 0 5px 5px #999;
    z-index: 1;
    padding: 0 1em;
}

.stylingButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    padding-top: 1.5em;
}

.styleSquare {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    color: white;
    text-align: center;
}

.styleSquare:hover{
    background-color: ghostwhite;
    color: #01579b;
}

.material-icons.notesIcons {
    font-size: 2.5em;
    margin: 0;
}

.search-input.keyword {
    background-color: #eceff1;
    height: 2.5em;
    width: 20em;
    padding-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.link, .image {
    margin-top: 0;
}

.saveNotes {
    display: inline-block;
    color: white;
    margin: 1% 45%;
    width: 95%;
}

@media only screen and (max-width: 1426px) {
    .styleSquare {
        height: 2.3em;
        width: 2.3em;
    }

    .material-icons.notesIcons {
        font-size: 2.3em;
    }

    .search-input.keyword {
        height: 2.3em;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1385px) {
    .search-input.keyword {
        margin-top: 0.7em;
    }
}

@media only screen and (max-width: 974px) {
    .stylingButtons {
        justify-content: flex-start;
    }

    .search-input.keyword {
        width: 17em;
    }

    .material-icons.image {
        margin-top: 0.3em;
    }
}

@media only screen and (max-width: 935px) {
    .material-icons.link {
        margin-top: 0.3em;
    }
}

@media only screen and (max-width: 919px) {
    .search-input.keyword {
        margin-top: 0.7em;
    }

    .material-icons.image, .material-icons.link {
        margin-top: 0;
    }
}

@media only screen and (max-width: 830px) {
    .search-input.keyword {
        width: 13em;
    }
}

@media only screen and (max-width: 767px) {
    .stylingButtons {
        justify-content: space-between;
    }

    .search-input.keyword {
        margin-top: 0;
    }
}

@media only screen and (max-width: 574px) {
    .search-input.keyword {
        margin-top: 0.7em;
        width: 20em;
    }
}

@media only screen and (max-width: 382px) {
    .stylingButtons {
        justify-content: flex-start;
    }

    .material-icons.image {
        margin-top: 0.3em;
    }
}









/* The dropdown container */
.colorOptions {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.colorOptions .colorDropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.fontColor-options {
    display: none;
    position: absolute;
    height: 10em;
    width: 20em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background-color: darkgray;
    padding: 0.3em 0.5em;
}

/* Links inside the dropdown */
.fontColor-options .fontColor {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.fontColor-options .fontColor:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.colorOptions:hover .fontColor-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fontColor {
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em 0;
}

.fontOptions {
    display: inline-block;
}