.notes-parent-panel {
    height: 100%;
    box-sizing: border-box;
    background-color: ghostwhite;

}

.text-editor {
    height: 100%;
    overflow: hidden;
    margin-bottom: -500em;
}

.editor {
    padding-top: 2vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    height: 100%;
}

code {
    display: inline-block;
    background-color: #d5d5d5;
    color: #0288d1;
    padding: 0 0.5em;
    font-family: 'Overpass Mono', sans-serif !important;
    line-height: 1.56;
}

blockquote {
    border-left: 5px solid #0288d1 !important;
    color: #0288d1;
    font-style: italic;
    margin: 0 !important;
}

.notes-component.fifth-step{
    height: 88%;
    overflow-y: auto;
}

.toolbar {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #455a64;
    box-shadow: 0 5px 5px #999;
    z-index: 1;
    padding: 0 1em;
}

.stylingButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    padding-top: 1.5em;
}

.styleSquare {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    color: white;
    text-align: center;
}

.richText, .fontColorIcon {
    color: white;
}

.styleSquare:hover, .richText:hover, .fontColorIcon:hover {
    background-color: ghostwhite;
    color: #01579b;
}

.material-icons.notesIcons {
    font-size: 2.5em;
    margin: 0;
}

.search-input.keyword {
    background-color: #eceff1;
    height: 2.5em;
    width: 18em;
    padding-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.link, .image {
    margin-top: 0;
}

.saveNotes {
    display: inline-block;
    color: white;
    margin: 1% 45%;
    width: 95%;
}

@media only screen and (max-width: 1426px) {
    .styleSquare {
        height: 2.3em;
        width: 2.3em;
    }

    .material-icons.notesIcons {
        font-size: 2.3em;
    }

    .search-input.keyword {
        height: 2.3em;
    }
}

@media only screen and (max-width: 919px) {
    .search-input.keyword {
        margin-top: 0.7em;
    }

    .material-icons.image, .material-icons.link {
        margin-top: 0;
    }
}

@media only screen and (max-width: 830px) {
    .search-input.keyword {
        width: 13em;
    }
}

@media only screen and (max-width: 767px) {
    .stylingButtons {
        justify-content: space-between;
    }

    .search-input.keyword {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .colorOptions {
        margin-right: 0.5em;
    }
}

@media only screen and (max-width: 430px) {
    .stylingButtons.secondRow {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 422px) {
    .search-input.keyword {
        margin-top: 1em;
    }
}

/*--------------------------- FONT COLOR ---------------------------*/

.colorOptions {
    float: left;
    overflow: hidden;
}

.colorOptions .colorDropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /*padding: 14px 16px;*/
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.fontColor-options {
    display: none;
    position: absolute;
    height: 3.8em;
    width: 6em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background-color: darkgray;
    padding: 0.3em 0 0 0.3em;

}

.fontColor-options .fontColor {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.fontColor-options {
    background-color: #ddd;
}

.colorOptions:hover .fontColor-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fontColor {
    width: 1.8em;
    height: 1.8em;
    padding-right: 1%;
    margin: 0;
}

.redFont .colorCircles {
    color: #FF0000;
    font-size: 150%;
}

.orangeFont .colorCircles {
    color: #FF7F00;
    font-size: 150%;
}

.yellowFont .colorCircles {
    color: #FFFF00;
    font-size: 150%;
}

.greenFont .colorCircles {
    color: #00FF00;
    font-size: 150%;
}

.blueFont .colorCircles {
    color: #0000FF;
    font-size: 150%;
}

.violetFont .colorCircles {
    color: #9400D3;
    font-size: 150%;
}

.fontOptions {
    display: inline-block;
}

.colorCircles:hover {
    cursor: pointer
}