* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
}
.row {
    height: 50vh;
    position: relative;
}
.panels {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}
.video {
    background: #333;
    z-index: 0;
}