/* Big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {


}

/* Small phones to small tablets  from 481px to 767px*/ 
@media only screen and (max-width: 767px) {
.Pane1 {
    width: 100%;
}

}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

}