.slides-container {
  height: 100%;
  width: 100%;
  background-color: #d5d5d5;
}

.slides-div {
  height: 100%;
  overflow: hidden;
}

.slides-iframe
{
  position: relative;
  top: -9vh;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 95%;
  height: 91%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
  left:3.5%;
}
.text-danger {
  position: relative;
  left: 1vw;
}
.arrow-container-slides {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 3000;
  cursor: pointer;
}

.slidesBtn {
  margin-top: 10px;
  width: 45px !important;
  padding: 0 !important;
}