.slides-container {
  height: 100%;
  width: 100%;
  background-color: #d5d5d5;
}

.slides-div {
  height: 95%;
  overflow: hidden;
}

.slides-iframe
{
  position: relative;
  top: -5vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 95%;
  height: 93%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-danger {
  position: relative;
  left: 1vw;
}
/* #slides-input.slides-input {
  background-color: #fff;
} */