.main {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow:hidden;
    margin: 0 auto;
}
.opacity {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
    z-index: 1;
    opacity: 0.6;
}
.search-button-input {
    padding-top: 1vh;
}
#search-input-container.search-button-input {
    float: right;
}
.vid-container {
    z-index: 1;
}
.video-wrapper#video-wrapper {
    height: 100%;
}
.video-container#video-container {
    height: 100%;
}

.video-container#video-container .row form{
    width: 80%;
    display: inline-block;
}
.video-items {
    list-style-type: none;
}
button.close {
    color: #fff;
    position: relative;
    top: -3.5vh;
    left: 6vh;
}
.results-container {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: auto;
    transition: 0.4s;
}
.results-container li,
.results-container button {
    display: inline-block;
}
.results-container.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 65%;
    border-left: 1px solid #e4e4e4;
}
.row.results-input-container {
    margin-left: 0;
    margin-right: 0;
}
#search {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 15px;
}
.video-parent-panel {
    height: 100%;
    width: 100%;
}
.video-embed-wrapper {
    height: 100%;
    text-align: center;
}

.video-container iframe {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.video-iframe {
    display: inline-block;
    position: relative;
    top: 1vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border:none;
}

.left-menu-button {

}

.btn {
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    background-color: #d5d5d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.55);
    background-color: ghostwhite;
}

.glyphicon {
    color: black;
}
