.main {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  background-color: #000;
  display: block;
  z-index: 2;
  opacity: 0.6;
}
.search-button-input {
  padding-top: 1vh;
}

.vid-container {
  z-index: 1;
}
.video-wrapper#video-wrapper {
  height: 100%;
}
.video-container#video-container {
  text-align: center;
  height: 90%;
  padding-bottom: 0;
  position: relative;
  top: -3vh;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
}

.video-container#video-container .row form {
  width: 80%;
  display: inline-block;
}
.video-items {
  list-style-type: none;
  position: relative;
  top: 1vh;
  font-weight: bold;
}
.video-description {
  font-style: italic;
}
.youtube-search-buttons {
  position: relative;
  top: 3vh;
}
button.close {
  color: #fff;
  position: relative;
  top: -3.5vh;
  left: 6vh;
}
.results-container {
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  transition: 0.4s;
}
.results-container li,
.results-container button {
  display: inline-block;
}
.results-container.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  border-left: 1px solid #e4e4e4;
  z-index: 5000;
}
.row.results-input-container {
  margin-left: 0;
  margin-right: 0;
}
.result-item.collection-item,
.list-item-wrapper {
  background-color: transparent;
}
#search {
  position: absolute;
  color: #fff;
  right: 20px;
  top: 15px;
}
.video-parent-panel {
  height: 100%;
  width: 100%;
  background-color: #d5d5d5;
}
.video-embed-wrapper {
  height: 100%;
  text-align: center;
}

.video-container iframe {
  position: relative;
  height: 100%;
  display: inline-block;
}
.video-iframe {
  display: inline-block;
  position: relative;
  top: 1vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: none;
}
.video-btn i {
  margin: 0 -1px;
  width: 45px;
}

#query {
  padding-left: 8px;
}
.list-item-wrapper {
  padding: 10px 5px;
}
.results-btn {
  padding: 0 1vmin;
}
.collection {
  border: none;
}
.vid-left-arrow,
.vid-right-arrow {
  background-color: #0288d1;
}
.iframe-wrapper {
  height: 100%;
  position: relative;
  top: -4vh;
}
.row {
  margin-bottom: 0;
}
.btn-wrapper {
  white-space: nowrap;
}
.btn-wrapper button {
  padding: 0;
  width: 45px;
}
.slide-out-input {
  transition: 0.2s;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 30;
  position: relative;
}
.arrow-container {
  position: absolute;
  top: 4vh;
  right: 4px;
  z-index: 3000;
  cursor: pointer;
}
.playlist-logo-container {
  position: absolute;
  top: 4vh;
  left: 4px;
  z-index: 3000;
  cursor: pointer;
}

.arrow-container-slides .material-icons {
  margin-right: 0;
}
.btn-success,
.btn-primary {
  margin: 0.2vmin;
  position: relative;
  top: 1vh;
}

#youtube-play {
  padding: 0px 5px;
  position: relative;
  right: 1vw;
}
.red-text {
  color: red;
}
.Pane.horizontal.Pane2 {
  height: 325px;
}
.video-container iframe,
.slides-iframe {
  width: 93%;
  top: -8vh;
}
#video-iframe {
  top: 0vh;
  /* height: 90% */
}
#video-container {
  height: 90%;
  top: -3vh;
}
.list-item-wrap-container {
  display: flex;
  align-items: center;
  margin-left: 0;
}
.list-item-wrap-container {
  padding: 10px 0;
}
.list-item-wrap-container img {
  max-width: 35%;
}
.list-item-wrap-container button i {
  margin-right: auto;
}
.list-item-wrap-container .btn-small {
  padding: 0 0.1em;
}
.btn-small {
  padding: 0 0.8rem;
}

.playlist-play {
  background-color: #0288d1;
}
.playlist-delete {
  background-color: #d32f2f;
}
.list-item-wrapper {
  display: flex;
  align-items: center;
}
.col.s3 {
  margin-left: 0;
}
#search-input-container {
  display: flex;
  align-items: center;
}
.video-description {
  display: none;
}
.video-playlist-panel {
  width: 100%;
  height: 100%;
  background-color: #d5d5d5;
  border: 1px solid #000;
  position: absolute;
  z-index: 3500;
  transition: 0.4s;
  overflow-y: auto;
  overflow-x: hidden;
}
.no-videos {
  position: relative;
  top: 27%;
  color: #5d5d5d;
  font-weight: bold;
  text-shadow: 0.3px 0.3px #5d5d5d;
}
.close-playlist {
  position: absolute;
  right: 4px;
  top: 4px;
}
.playlist-logo-container i {
  margin-right: 0;
  color: rgb(2, 136, 209);
  transition: 0.2s;
  font-size: 2.1em;
}

.video-playlist {
  position: relative;
  top: 2vh;
  left: 0.5vw;
}
.playlist-logo-container i:hover {
  color: #0073b2;
}
.close-playlist-icon:hover {
  cursor: pointer;
}
.playlist-play:hover {
  background-color: #0073b2;
}
.playlist-delete:hover {
  background-color: #b71c1c;
}
.playlist-delete:focus {
  background-color: #d32f2f;
}
.vid-right-arrow:hover,
.vid-left-arrow:hover {
  background-color: #0288d1;
}
.video-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.55);
}
@media screen and (max-width: 375px) and (orientation: portrait) {
  .video-container iframe {
    width: 100%;
    height: 85vh;
  }
  .video-container#video-container {
    height: 95%;
  }
  .iframe-wrapper {
    height: 92vh;
    top: -9vh;
  }
  .arrow-container {
    top: 9vh;
  }
  .input-field,
  .youtube-search-buttons {
    position: relative;
  }
  .input-field {
    top: 3vh;
  }
  .youtube-search-buttons {
    top: 6vh;
  }
  .playlist-logo-container {
    top: 9vh;
  }
  .video-slide-out-input {
    height: 17vh;
    top: 4vh;
  }
}

@media screen and (max-width: 740px) and (orientation: landscape) {
  .video-container#video-container {
    text-align: center;
    height: 81%;
    padding-bottom: 0;
    position: relative;
    top: -13vh;
  }
  .video-slide-out-input {
    height: 25vh;
    top: -3vh;
  }
  .video-container iframe {
    width: 100%;
  }
}
