.add-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    background-color: rgba(0,0,0,0.7);
    z-index: 2000;
}
.add-modal {
    position: relative;
    top: 30%;
    height: 40%;
    width: 50%;
    background-color: #fff;
    border-radius: 2px;
    margin: 0 auto;
    padding: 2vmin 3vmin;
    overflow-y: auto;
}
.add-modal .save {
    margin-right: 8px;
}
.save-title-input {
    margin-bottom: 5px;
}