.nav_binder, .nav_tab, .nav_page {
    display: inline-block;
}

ul > li {
    list-style: none;
}

.nav_binder {
    border: 2px solid red;
    display: inline-block;
    position: relative;
    width: 10vw;
}

.nav_tab {
    border: 2px solid blue;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0%;
}

.nav_page {
    border: 2px solid green;
    display: inline-block; 
    position: absolute;
    top: 0%;
    left: 100%;   
}